body{
    padding: 0;
    margin: 0;
    background-color:#2980B9;
}
.cont{
    display: flex;
    justify-content: center;
}
.side-menu{
    width: 0;
}
.count{
    display: flex;

}
.count p{
    margin: 0 5px;
}

.count-connected{
    display: flex;
    justify-content: center;
    border: 1px solid #ECF0F1;
    border-radius: 5px; 
    font-weight: 400;
    font-size: 18px;
    padding: 5px 5px;   
    margin-top: 7px;
    width: 170px;
}

.count-connected-first{
    background-color:#FFC930;
    margin-left:367px;
}
.count-connected-second{
    background-color: #58ACE3;
    margin-left:7px;
}
button:focus{
    outline: none;
}
h1{
    text-align: center;
    margin-top: 40px;
    display: block;
    font-size: 50px;
    color: #ECF0F1;
}
.side-menu span{
    font-weight:800;
    font-size: 20px; 
}
.side-menu .btn1{
    background-color:#FF6530;
}
.side-menu .btn2{
    background-color:#FFC930;
}
.side-menu .btn3{
    background-color: #0665A2;
}
.side-menu .btn4{
    background-color: #FFA688;
}
.side-menu .btn5{
    background-color: #58ACE3;
}

.side-menu .btn6{
    padding-right: 7px; 
    font-size: 16px;
    background-color: #00B15C;
}
 
button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    cursor: pointer;
    z-index: 2;
    background-color: #2C3E50;
    font-size: 16px;
    color: #ECF0F1;
    width: 160px;
    height: 30px;
    border: 1px solid #ECF0F1;
    border-left: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    transition: 0.7s ease;
}

textarea {
    z-index: 1;
    resize: none;
    border-radius:5px; 
    background-color: #ECF0F1;
    color: #2C3E50;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;

   }
.translate{
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    padding: 5px 5px;   
    margin-top: 7px;
}

.btnn1{
    width: 30px;
    margin-left: 355px;
    font-size: 18px;
    font-weight: 800;
    background: transparent;
    background:  url("img/1.png");
    background-position: center; 
    background-size: cover;
}
.btnn2{
    width: 30px;
    background-color: darkblue;
    margin-left: 7px;
    background:  url("img/2.png");
    background-position: center;    
    background-size: cover;
}