body{
    margin: 0;
    padding: 0;
    background-color:#2980B9;
    
}

.cont{
    display: flex;
    justify-content: center;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.side-menu{
    width: 160px;;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
}
.count{
    display: flex;
    justify-content: space-between;

}
.count p{
    margin: 0 5px;
}

.count-connected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 5px; 
    font-weight: 400;
    font-size: 18px;
    margin-top: 7px;
    height: 30px;
    width: 180px;
    color:#ECF0F1;
    font-size: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.count-connected-first{
    background-color:#FFC930;
}
.count-connected-second{
    background-color: #58ACE3;
    margin-left:7px;
}
button:focus{
    outline: none;
}
h1{
    margin: 50px 0;
    text-align: center;
    font-size: 50px;
    color: #ECF0F1;
}
.side-menu span{
    font-weight:800;
    font-size: 20px; 
}
.side-menu .btn1{
    background-color:#FF6530;
}
.side-menu .btn2{
    background-color:#FFC930;
}
.side-menu .btn3{
    background-color: #0665A2;
}
.side-menu .btn4{
    background-color: #FFA688;
}
.side-menu .btn5{
    background-color: #58ACE3;
}
.side-menu .btn7{
    background-color:#FF6530;
}
.side-menu .btn6{
    padding-right: 7px; 
    font-size: 16px;
    background-color: #00B15C;
}
 
button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    cursor: pointer;
    z-index: 1;
    background-color: #2C3E50;
    font-size: 16px;
    color: #ECF0F1;
    width: 160px;
    height: 30px;
    border: 1px solid #ECF0F1;
    border-left: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    transition: 0.7s ease;
}

textarea {
    z-index: 2;
    resize: none;
    border-radius:5px; 
    background-color: #ECF0F1;
    color: #2C3E50;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;

   }
.translate{
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    padding: 5px 5px;   
    margin-top: 7px;
}

.btnn1{
    width: 30px;

    background:  url("img/1.png");
    background-position: center; 
    background-size: cover;
}
.btnn2{
    width: 30px;
    margin-left: 7px;
    margin-right: 160px;
    background:  url("img/2.png");
    background-position: center;    
    background-size: cover;
}
.groupBtn{
    display: flex;
    justify-content: space-between;
}
 @media only screen and (max-width: 860px) {

    .cont, .count, .groupBtn, .side-menu {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .btnn1, .btnn2{
        width: 37px;
        height: 37px;
    }
    .btnn2{
        margin: 7px 5px;
    }
    button{
        width: 182px;
        height: 37px;
        border: 1px solid #ECF0F1;
        border-radius: 5px;
    }
    .side-menu {
        justify-content: space-around;
        flex-flow: row wrap;
        width: 100%;
    }
    .container{
        width: 85%;
        }
    .count-connected{
        width: 182px;
        height: 37px;
    }

}
@media only screen and (max-width: 440px) {
    .count-connected-second{
        margin-left:0;
     }
}